<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - AISight</title>
  <link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N7QSDZB4TV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N7QSDZB4TV');
</script>


<body>
  <header>
    <div class="container">
      <h1><a href="/">AISight</a></h1>
      <p class="heading">Your Personal Consultant in Data Engineering, Research, and Analytics</p>
    </div>
  </header>

  <main>
    {{ content }}
  </main>

  <!--
  <section id="contact">
    <div class="container">
        <h2>Contact Us</h2>
        <p>Interested in our services? Reach out to us at <a
                href="mailto:contact@aisight.com">contact@aisight.com</a>.</p>
    </div>
  </section>
    -->
  <footer>
    <div class="container">
      <p>&copy; 2024 AISight. All rights reserved.</p>
    </div>
  </footer>
</body>

</html>